@charset "UTF-8";

html{
    font-size: 100%;
}
    
.first-nav {
    display: flex;
    font-size: 1.2rem;
    margin-top: 30px;
    list-style: none;
    margin-left: 70%;
}

.first-nav li{
    margin-left: 40px;
}

.center{
    text-align: center;
    margin-top: 15%;
}

.title{
    font-size: 5rem;
}

.big-gazou{
    background-size: cover;
    background-position: top;
}

#home{
    background-image: url(/image/p7925.jpg);
    min-height: 100vh;
}


:root {
    --light-green: #d5edeb;
    --green: #63dbd0;
    --brown: #403632;
    --light-grey: #eee;
    --white: #fff;
    --oswald-font: 'Oswald', sans-serif;
}

#loading {
    background-color: var(--light-grey);
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: grid;
    place-items: center;
}

#loading-screen {
    background-color: var(--light-green);
    position: fixed;
    inset: 0;
    z-index: 9998;
    translate: 0 100vh;
}

#loading-screen2 {
    background-color: var(--light-red);
    position: fixed;
    inset: 0;
    z-index: 9999;
    translate: 100vh 0;
}


#loading p {
    font-size: 2rem;
    font-family: var(--oswald-font);
}

/*
SLIDE MENU
================================================ */
/* 開閉ボタン */
.btn-menu {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 4;
    padding: .5rem 1rem;
    border: 1px solid var(--brown);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    transition: .4s;
}
.btn-menu svg {
    fill: var(--brown);
    margin-top: .25rem;
    height: 2rem;
    width: 2rem;
}

/* 閉じるボタン */
#menu-close {
    border: 1px solid var(--light-green);
}
#menu-close svg {
    fill: var(--light-green);
}

/* スライドメニューパネル */
#menu-panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 8rem 2rem 2rem;
    width: max(32vw, 20rem);
    height: 100vh;
    background-color: var(--brown);
    box-shadow: 0 0 2rem var(--brown);
    font-family: var(--oswald-font);
    translate: 100vw;
}
.menu-list {
    list-style: none;
}
.menu-list li {
    margin: 1.5rem 0;
    opacity: 0;
}
.menu-list a {
    color: var(--light-green);
    text-decoration: none;
    font-size: 2rem;
}